@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

*{
    margin:0;
    padding:0;
    font-family: "Raleway", sans-serif;
}

.Project{
   background-color:var(--bg-color);
}
@media screen and (max-width:600px) {
    .Project{
        width:1380px;
    }
}

.Home-page{
    min-width: 1380px;
    color:var(--HPtext-color);
}
.headers{
padding:30px 20px;
margin-left: 20px;
}
/* Dark-Light button*/
[Data-theme="Dark"]{
    --portfolios-color:white;
    --bg-color:rgb(80, 77, 77);
    --scroll-icon:white;
    --HPtext-color:white;
    --name-color:Yellow;
    --scroll-icon-bg:none;
    --bg-cartoon:drop-shadow(1px 1px 10px rgb(254, 253, 253));
    --bg-cartoon-hover:drop-shadow(3px 3px 15px rgb(251, 252, 253));
}
/* Dark mode switch*/
header button{
    width:31px;
    height:31px;
    float:right;
    border:none;
    border-radius: 50%;
    margin:20px 40px 0px 0px;
    justify-items: center;
}
.Dark img{
    width:25px;
    height:25px;
    padding:1px;
    border:2px solid goldenrod;
    border-radius: 50%;
}
.Dark img:hover{
width:27px;
height:27px;
}

/*Light mode switch*/
.Light img{
    width:25px;
    height:25px;
    padding:1px;
    border:2px solid goldenrod;
    border-radius: 50%;
}
.Light{
    float:right;
    border:none;
    border-radius: 50%;
}
.Light img:hover{
width:27px;
height:27px;
}
/*-------------------*/
h1.portfolio{
    font-family: "allura",cursive;
    color:var(--portfolios-color)
}
ul{
display: flex;
list-style-type: none;
justify-content: center;
gap:12%;
}
.nav-links li a{
    text-decoration: none;
    color: var(--scroll-icon);
    font-size: medium;
}
.nav-links a:hover{
    color:goldenrod;
    background-color: var(--scroll-icon-bg);
    text-decoration: underline;
    text-underline-offset:8px;
}
.container{
    display:grid;
    align-items: center;
    grid-template-columns:auto auto;
    column-gap:30px;
    padding: 10%;
}
.sub-cont h1,h2,h3{
    margin-left:10px;
}
.sub-cont p{
    width:75%;
}
.sub-cont span{
    color:var(--name-color)
}
.image img{
    height: 250px;
    width:250px;
    filter:var(--bg-cartoon)
}
.image img:hover{
    filter:var(--bg-cartoon-hover)
}
div.Cv{
    display:flex;
    gap:10%;
    padding:20px;
}
.Cv a{
    color:#f8f9f9;
    text-decoration: none;
    border:1px solid white;
    border-radius: 50px;
    padding:8px;
    background-color: rgb(36, 31, 160);
}
.Cv a:hover{
    background-color: rgb(2, 2, 96);
}
.prof-icons{
    display:flex;
    border:2px solid grey;
    border-radius: 50px;
    background-color:whitesmoke;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:35px;
    width:300px;
    height:50px;
    list-style-type: none;
    margin:auto;
}
.prof-icons li{
    border-radius: 50%;
    background-color: white;
    text-decoration: line-through;
}
.prof-icons a{
    background-color: white;
    text-decoration: none;
}
.prof-icons img{
    width:30px;
    height:30px;
    border-radius: 50px;
    background-color: #f8f9f9;
    text-decoration: none;
    opacity:0.6;
}
ol img:hover{
    opacity:1;
}
/* Home page End*/
