@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

[data-theme="Dark"]{
    --bg-color-PP:rgb(191, 243, 191);
    --headingtext-PP:rgba(6, 51, 6, 0.664);
    --scrollbar-color-PP:rgba(88, 248, 88, 0.786);
    --bg-slider-PP: repeating-radial-gradient(white,lightgreen,green,darkgreen);
    --bg-slidercard:rgba(157, 240, 157, 0.885);
}
.PP{
    min-width:1280px;
    height:600px;
    display: flex;
    flex-direction: row;
    margin:40px;
}
.heading{
    min-width:180px;
    height:100%;
    display: flex;
    justify-content:center;
    align-items:center;
    background-color:var(--headingtext-PP); 
    border-radius: 20px 0px 0px 20px;
    border:2px solid white;
    border-right: 0px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.heading h1{
font-size: 3.5em;
text-orientation: upright;
writing-mode: vertical-lr;
color:white;
}
.pro-container{
    min-width:85%;
    height:100%;
    border-radius:0px 20px 20px 0px;
    border:2px solid rgb(254, 254, 254);
    background-color:var(--bg-color-PP);
    border-left: 0px;
    display:flex;
    align-items: center;
    margin:0px 40px 0px 0px; 
    flex-direction:row;
    overflow:hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.slider{
    width:100%;
    height:90%;
    margin:40px 0px 40px 20px;
    display: flex;
    align-items: center;
    gap:80px;
    overflow: scroll;
    overflow-y:hidden;
    scroll-behavior: smooth;
}
.slider::-webkit-scrollbar{
    background-color:rgb(237, 236, 236);
    width:200px;
}
.slider::-webkit-scrollbar-thumb{
    background-color:var(--scrollbar-color-PP);
    width:10px;
}
.slider li{
    min-width:300px;
    height:400px;
    border-radius:0px 150px 0px 150px;
    position: relative;
    list-style: none;
    overflow: hidden;
    filter:drop-shadow(5px 5px 10px rgb(5, 5, 5))
}
.projects-img{
    width:100%;
    height:100%;
    margin:1px;
    object-fit:scale-down;
   /* background:repeating-radial-gradient(rgb(250, 249, 251),rgb(198, 241, 241),rgb(150, 205, 244),rgb(65, 160, 237));*/
   background:var(--bg-slider-PP);
    z-index:1;
}
.slider li:hover .pcard-body{
right:0;
z-index:1;
}
.pcard-body{
    width:100%;
    height:100%;
    top:0;
    right:-100%;
    background: var(--bg-slidercard);
    backdrop-filter: blur(5px);
    z-index:-1;
    position:absolute;
    display: flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
    transition:0.5s;
}
.pcard-body h3{
    padding:40px;
    font-family: "Baskervville SC", serif;
}
.pcard-body h5{
    font-family: "Baskervville SC", serif;
    gap:10px;
}
.pcard-body p{
    font-family: "Lora", serif;
    font-size: 16px;
    color:black;
}
.pcard-body button{
    width:70px;
    height: 20px;
    background-color: rgb(234, 189, 197);
    border-radius: 20px;
}
.buttons-proj{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
}
/*  -----------------------------Mobile view-------------------------------*/
@media screen and (max-width:450px) {
    .PP{
        height:auto;
        display: flex;
        flex-direction: column;
    }
    .heading{
        height:200px;
        border-radius:50px 50px 0px 0px;
    }
    .heading h1{
        text-orientation:sideways;
        writing-mode:horizontal-tb;
    }
    .pro-container{
        width:100%;
        height:1200px;
        border-radius:0px 0px 50px 50px ;
    }
    .slider{
        width:100%;
        margin:180px;
        background-color:antiquewhite
        }
    .slider li{
        min-width:800px;
        height:900px;
        margin:65px;
        border-radius:0%;
    }
    .pcard-body{
        font-size: 50px;
    }
    .pcard-body p{
        font-size: 35px;
        text-align: justify;
        font-weight:550;
        margin:30px;
    }
    .pcard-body button{
        width:200px;
        height:80px;
        background-color: rgb(204, 70, 92);
    }
    .pcard-body a{
        font-size:50px;
        font-weight:700;
        color:black;
    }
}